[buildout]
extends =
# Default buildout directory layour and settings
    common-pub/00-defaults.cfg

# Tools for egg development. Test runners and linters etc
    common-pub/05-egg.cfg

# Sphinx documentation builder
#    common-pub/06-docs.cfg

egg = apweb
egg-source-directory = apweb

[sources]
contextplus = git git@github.com:adamandpaul/contextplus.git rev=origin/master
